
adapter_index = 0
aspect_ratio = -1
borderless_fullscreen = false
detected_user_settings = {
	adapter_index = 0
	borderless_fullscreen = false
	fullscreen = true
	fullscreen_output = 0
	language_id = "en"
	master_render_settings = {
		anti_aliasing_solution = 0
		dlss = 1
		dlss_g = 0
		dlss_master = "on"
		fsr = 0
		fsr2 = 0
		graphics_quality = "medium"
		nv_reflex_low_latency = 1
		ray_tracing_quality = "off"
	}
	max_worker_threads = 13
	screen_mode = "fullscreen"
	screen_resolution = [
		1280
		960
	]
	vsync = false
}
fullscreen = false
fullscreen_output = 0
gamma = 1
gore_settings = {
}
gpu_id = "NVIDIA GeForce RTX 2060"
interface_settings = {
	intro_cinematic_enabled = false
}
language_id = "en"
launcher_overrides = {
	gpu_crash_dumps = true
}
master_render_settings = {
	ambient_occlusion_quality = "low"
	anti_aliasing_solution = 0
	dlss = 4
	dlss_g = 0
	dlss_master = "on"
	dof_quality = "off"
	fsr = 0
	fsr2 = 0
	gi_quality = "low"
	graphics_quality = "custom"
	lens_flare_quality = "off"
	light_quality = "low"
	nv_reflex_framerate_cap = 6
	nv_reflex_low_latency = 0
	ray_tracing_quality = "custom"
	rt_reflections_quality = "off"
	ssr_quality = "off"
	texture_quality = "low"
	volumetric_fog_quality = "low"
	xess = 0
}
max_worker_threads = 13
mesh_streamer_settings = {
}
mod_manager_settings = {
	developer_mode = false
	log_level = 1
}
mods_settings = {
	BetterMelk = {
		contracts_x = 0
		notif_mode = 1
		notify_done = true
		notify_new = false
		show_contracts = true
	}
	CustomResolutions = {
		append_position = "start"
		options = [
			{
				display_name = "CSGO"
				height = 768
				width = 1024
			}
			{
				display_name = "CSGO 2"
				height = 960
				width = 1280
			}
		]
	}
	DMF = {
		chat_history = [
			"gg"
			"MB"
			"I got free shit so lol"
			"ye, xbox got like 14k free aquilas"
			"if ur on steam and played before nov17 btw"
			"gg"
			"sure why not"
			"gg"
			"/mmt"
			"/mmtdel 1"
			"gg"
			"is that the operator Fiammetta from the hit game Arknights"
			"gg"
			"/mmt 1"
			"/mmt"
			"/mmtdel 1"
			"/mmtdel 2"
			"/mmtdel 1"
			"/mmt 4"
			"/mmt"
			"/mmtimport a37ff04c-cc1e-452e-acda-b2dcf57414c3"
			"gg"
			"unlucky"
			"hello"
			"o"
		]
		chat_history_buffer_size = 50
		chat_history_commands_only = false
		chat_history_enable = true
		chat_history_remove_dups = true
		chat_history_remove_dups_mode = "last"
		chat_history_save = true
		developer_mode = false
		disabled_mods_list = {
			ToggleAltFire = true
			buy_until_rating = true
			reroll_until_rarity = true
		}
		dmf_initialized = true
		dmf_options_scrolling_speed = 100
		log_ui_renderers_info = false
		logging_mode = "default"
		open_dmf_options = [
			"f4"
		]
		options_menu_collapsed_mods = [
		]
		options_menu_collapsed_widgets = [
		]
		options_menu_favorite_mods = [
		]
		options_menu_last_selected = "Disable Screen Effects"
		output_mode_debug = 0
		output_mode_echo = 4
		output_mode_error = 4
		output_mode_info = 1
		output_mode_notification = 5
		output_mode_warning = 4
		show_developer_console = false
		show_network_debug_info = false
		toggle_developer_console = [
		]
	}
	DarkCache = {
		cache_item_contracts_list = true
		cache_item_credits_cosmetics_store = true
		cache_item_credits_goods_store = true
		cache_item_credits_store = true
		cache_item_credits_weapon_cosmetics_store = true
		cache_item_marks_store = true
		cache_item_marks_store_temporary = true
		cache_item_mission_board = true
		cache_item_premium_store = true
		dev_mode = false
		hub_caching = true
		hub_preloading = true
		icon_caching = true
		last_load_game_version = "1.2.0-b323615"
		suppress_cache_regen_notification = false
	}
	DifficultyColor = {
		opt_color_1_b = 158
		opt_color_1_g = 211
		opt_color_1_r = 169
		opt_color_2_b = 158
		opt_color_2_g = 211
		opt_color_2_r = 169
		opt_color_3_b = 81
		opt_color_3_g = 189
		opt_color_3_r = 228
		opt_color_4_b = 81
		opt_color_4_g = 189
		opt_color_4_r = 228
		opt_color_5_b = 84
		opt_color_5_g = 84
		opt_color_5_r = 233
	}
	DisableScreenEffects = {
		beast_of_nurgle_in_slime = true
		chaos_beast_of_nurgle_being_eaten = false
		chaos_beast_of_nurgle_hit_by_vomit = true
		chaos_daemonhost_ambience = false
		"content/fx/particles/screenspace/screen_blood_splatter" = false
		"content/fx/particles/screenspace/screen_stunned_heavy" = false
		"content/fx/particles/screenspace/screen_stunned_light" = false
		corruption = false
		corruption_taken = false
		corruptor_ambience = false
		corruptor_proximity = false
		critical_health = false
		damage_taken = false
		disable_plasmagun = true
		in_buildup_twin_toxic_gas = false
		in_cultist_grenadier_gas = false
		in_smoke_fog = false
		in_toxic_gas = false
		in_twin_toxic_gas = false
		knocked_down = false
		last_wound = true
		left_toxic_gas = false
		netted_damage_tick = false
		no_toughness = false
		ogryn_combat_ability_charge = false
		ogryn_combat_ability_shout = false
		ogryn_combat_ability_stance = false
		psyker_combat_ability_shout = false
		psyker_efficient_smites = false
		psyker_empowered_grenades_passive_visual_buff = false
		psyker_empowered_grenades_passive_visual_buff_increased = false
		psyker_force_field_buff = false
		psyker_overcharge_stance = false
		psyker_overcharge_stance_damage = false
		psyker_overcharge_stance_finesse_damage = false
		stealth = false
		suppression_high = false
		suppression_low = false
		suppression_ongoing = false
		syringe_ability = false
		syringe_power = false
		syringe_speed = false
		toughness_absorbed = false
		toughness_absorbed_melee = false
		toughness_broken = false
		veteran_allies_kills_damage_buff = false
		veteran_combat_ability_stance = false
		veteran_combat_ability_stance_master = false
		veteran_improved_tag_effect = false
		veteran_invisibility = false
		veteran_snipers_focus_effect = false
		veteran_stealth = false
		veteran_stealth_and_stance = false
		warped_critical = false
		warped_low_to_high = false
		zealot_channel_toughness_damage_reduction = false
		zealot_combat_ability_dash = false
		zealot_dash_buff = false
		zealot_fanatic_rage_buff = false
		zealot_fanatic_rage_major = false
		zealot_fanatic_rage_minor = false
		zealot_invisibility = false
		zealot_invisibility_increased_duration = false
		zealot_preacher_ally_defensive_buff = false
	}
	Healthbars = {
		chaos_beast_of_nurgle = true
		chaos_daemonhost = true
		chaos_hound = true
		chaos_hound_mutator = true
		chaos_newly_infected = true
		chaos_ogryn_bulwark = true
		chaos_ogryn_executor = true
		chaos_ogryn_gunner = true
		chaos_plague_ogryn = true
		chaos_poxwalker = true
		chaos_poxwalker_bomber = true
		chaos_spawn = true
		cultist_assault = true
		cultist_berzerker = true
		cultist_flamer = true
		cultist_grenadier = true
		cultist_gunner = true
		cultist_melee = true
		cultist_mutant = true
		cultist_shocktrooper = true
		renegade_assault = true
		renegade_berzerker = true
		renegade_captain = false
		renegade_executor = true
		renegade_flamer = true
		renegade_flamer_mutator = true
		renegade_grenadier = true
		renegade_gunner = true
		renegade_melee = true
		renegade_netgunner = true
		renegade_rifleman = true
		renegade_shocktrooper = true
		renegade_sniper = true
		renegade_twin_captain = false
		renegade_twin_captain_two = false
		show_armour_type = true
		show_bar = true
		show_damage_numbers = true
		show_dps = true
	}
	InspectFromSocial = {
		enable_self_inspect = false
	}
	InventoryStats = {
		crit_chance = true
		crit_dmg = true
		dodge_count = true
		dodge_dist = true
		force_equip = true
		health = true
		page_size = 12
		sprint_speed = true
		sprint_time = true
		stamina = true
		stamina_regen = true
		tough_bounty = true
		tough_regen_delay = true
		tough_regen_moving = true
		tough_regen_still = true
		toughness = true
		use_custom_pages = false
		wounds = true
	}
	ManyMoreTry = {
		_last_mission_id = "be98b7a0-75ba-4c2e-9551-8612fad20f49"
		_saved_mission = [
			{
				display_name = "Archivum Sycorax · Espionage · Damnation · Maelstrom Mission I-II-V-E-G"
				id = "5b464a38-bebd-43fd-9004-583527b0b97b"
				start = 1701213540
			}
		]
		private_game = false
	}
	MyFavorites = {
		color_definition_1 = "orange"
		color_definition_2 = "lawn_green"
		color_definition_3 = "deep_sky_blue"
		color_definition_4 = "blue_violet"
		color_definition_5 = "deep_pink"
		favorite_item_list = {
			"03085a48-4397-4f80-8de6-ad8ff4cfdbca" = 1
			"0ba9f726-cbf6-476c-9f40-8189d49777d1" = 1
			"0fc28729-8976-4853-b628-f7fd895219ff" = 1
			"120a8496-db39-482d-a75d-e08f660c95ad" = 1
			"1246764b-96aa-417b-a1d5-9d2f3c055015" = 1
			"130ed93b-70ce-4fdf-93b2-1019ab6fab65" = 1
			"14950bc3-17dd-4b6e-b69a-7f64e98b35d8" = 1
			"1b015301-3b94-424c-b337-6397f851c94a" = 1
			"23bad3fa-dd76-4ea4-a488-baf8e8d50501" = 1
			"264d3d9a-7b78-4f7e-85fe-d9774fcfbeec" = 1
			"27b2973d-3db2-408a-bb2d-e6c726b8ce9c" = 1
			"28365b36-a5c5-4037-a99b-4f30a0d6ea0f" = 1
			"37ba8307-2aff-4458-a103-5bf336ba3384" = 1
			"3c4cf1b1-200e-4186-9cfa-0c186ace4270" = 1
			"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f" = 1
			"3f2f4b90-2c8d-429a-a7be-f7eeda45457d" = 1
			"42a3abf7-999e-4d06-88f8-601c1d561908" = 1
			"4be13907-c68a-43e8-8dac-617fdc0b5640" = 1
			"4db44bc2-1f91-4d73-b5fe-b66727e4684e" = 1
			"4f99e519-2840-4f27-bd65-11db86333697" = 1
			"52a1c7df-e9b2-4fbe-811f-ba6518858631" = 1
			"52fe82db-2c86-48f3-b873-3c55d55051e4" = 1
			"54625d7c-6808-4fb0-b8f9-091c4f2352d6" = 1
			"55462b8c-7ff8-4e7a-a27e-4d2203b2de67" = 1
			"566c72ec-3df7-4623-a070-1cfad85a8746" = 1
			"581d396b-477a-4f89-b545-a6d77ffa910d" = 1
			"5a021ba4-9ba5-4350-ade6-6a0e4d688492" = 1
			"5b6225f7-137a-4d76-b0fd-c8cc8c96d2fc" = 1
			"62401d56-26b5-4ea3-915d-41bc7b2392db" = 1
			"6309fa8d-37c2-4030-82ab-15f79ba65332" = 1
			"677e8415-a2d4-4986-9e31-e51fde900fad" = 1
			"729fcb37-ad53-4809-b420-b5c258c810e3" = 1
			"735d2da3-d732-485b-a7f7-19daad8b9293" = 1
			"7e1d2578-b5a6-43a6-9121-be963166c9fb" = 1
			"8172e76b-9648-4f2f-999a-b16cdae2eb2a" = 1
			"8df8908e-ce85-4943-812c-e6b642443d49" = 1
			"99bba417-ea6b-4009-b885-3b9cf6fad21d" = 1
			"9e48bb2d-4a99-41e4-ba7d-c3e98911466a" = 1
			"9fa95389-0ce4-4869-9276-12b0fe3b20a6" = 1
			"a129ecad-39c6-49d5-baf3-e3d8f297c3ca" = 1
			"a7387b75-5264-4200-89c6-c08d575ea787" = 1
			"aa2abe46-7ab9-44fb-a5b1-25fe45f189b5" = 1
			"abddd42b-7e68-44f0-a1b3-c8a58be162f5" = 1
			"b0f507aa-8bea-473e-b713-871011645a54" = 1
			"b23e37f3-8566-4d44-b661-f48f847efd8b" = 1
			"b4d2d007-03f1-404c-bc4f-fd2399d781d2" = 1
			"b59ad986-742f-4330-86ff-3be2a00002a3" = 1
			"b6e85ddc-9c4a-4ddc-98e1-551e8094d927" = 1
			"b9e8f696-d495-4c60-a052-7f34479f285f" = 1
			"bd510d7e-5c7a-442a-b1bb-131021bfda4c" = 1
			"bf958f98-63e5-466d-a1ae-ca8c3262ba96" = 1
			"c43b80cd-1695-4b23-8975-a20cd36fbb96" = 1
			"c967d664-24cf-4477-91db-16f842140efa" = 1
			"cb64d44a-1583-441e-bd0c-16eec2136505" = 1
			"cbd94d11-1a37-43e9-aea8-b083bed4df7e" = 1
			"d40765ab-66e0-48df-a1de-43cc742c3d33" = 1
			"d4e63d27-e916-4eb0-9422-799a457c3823" = 1
			"d5555f46-3c4f-478d-95ff-91f949295480" = 1
			"db286017-5fc7-419c-9b9c-faaec5700992" = 1
			"dc52827f-2911-4526-9e5a-e25423ddacdc" = 1
			"dc56ca50-bbbf-4793-98a2-3f923cf2d132" = 1
			"e0b6ddb8-2966-4c1b-912b-c8738cf4179a" = 1
			"eb96c69d-e5f3-46fc-9212-e3e4801b2b2b" = 1
			"f08df379-20a0-41e7-b620-3f92e4c28326" = 1
			"f16dcef2-b8d8-4a75-bb3d-19215d68ca8f" = 1
			"f3121586-6d13-47e8-ae66-8336dd5e36ea" = 1
			"f535b236-6d8f-437f-9102-f19cb47bff52" = 1
			"fcdc8e53-f37b-42b3-a8e2-d2e46368d465" = 1
			"ffcd31ce-0ae0-4e9e-ab27-d75ffd9aa305" = 1
		}
		favorite_preset_count = 1
	}
	NumericUI = {
		ability_cd_bar = true
		ability_cd_text = true
		ability_cooldown_format = "time"
		ammo_as_percent = false
		ammo_text = true
		archetype_icons_in_nameplates = true
		debug_dodge_count = false
		disable_ability_background_progress = true
		dodge_count = true
		dodges_count_up = false
		fade_out_max_dodges = false
		health_text = true
		level = true
		max_ammo_text = true
		mission_timer_in_overlay = true
		mission_title_on_intro = true
		peril_icon = true
		peril_text = true
		show_ammo_amount_from_packs = true
		show_ammo_icon = true
		show_boss_health_numbers = true
		show_dodge_count_for_infinite_dodge = false
		show_efficient_dodges = true
		show_max_ammo_as_percent = false
		show_medical_crate_radius = true
		show_mission_timer = true
		show_munitions_gained = true
		show_ping_skull = true
		show_vet_ping_skull = true
		toughness_text = true
	}
	OpenPlayerProfile = {
		use_steam_overlay = true
	}
	PreferAuric = {
		_last_mission_board_selection = "auric"
		mission_board_preference = "auric"
	}
	PsykaniumDefaultDifficulty = {
		default_difficulty = 5
		interact_psykanium_option = 3
	}
	QuickLookCard = {
		opt_base_level = true
		opt_blessing = true
		opt_curio_blessing = true
		opt_curio_perk = true
		opt_modifier = true
		opt_perk = true
	}
	ShowEquippedInLobby = {
		default_slot = "slot_primary"
	}
	ShowInsignias = {
		enable_self = true
		enable_teammates = true
	}
	ShowMeRealWeaponStats = {
		max_modifier_score = 80
		show_full_bar = true
		show_real_max_breakdown = true
	}
	ToggleAltFire = {
		action_lunge = true
		action_reload = false
		action_shoot_braced = false
		action_shoot_charged = false
		action_sprint = true
		action_start_reload = true
		action_vent = true
		autogun = true
		autopistol = true
		bolter = true
		flamer = true
		force_staff = true
		grenadier_gauntlet = true
		heavystubber = true
		lasgun = true
		laspistol = true
		plasma_rifle = true
		rippergun = true
		shotgun = true
		shotgun_grenade = true
		stub_pistol = true
		stub_rifle = true
	}
	TruePeril = {
		num_decimals = 1
		skip_lerp = true
	}
	"Voting Bloc" = {
		always_vote = "no"
		cast_vote = "off"
		vote_no = [
			"f3"
		]
		vote_yes = [
			"f2"
		]
	}
	afk = {
		block_check_limit = 10
	}
	buy_until_rating = {
		cancel_key = [
		]
		desired_rating = 380
		discard_threshold = 350
		enable_auto_discard = true
		enable_discard_notif = false
		enable_num_limit = true
		enable_print_result = true
		num_limit = 10
	}
	contracts_overlay = {
		enable_complete_notif = true
		enable_debug_mode = false
		enable_live_update = true
	}
	crosshair_hud = {
		ability_cooldown_threshold = 10
		ability_scale = 1
		ability_x_offset = 186
		ability_y_offset = 115
		ally_1_x_offset = -200
		ally_1_y_offset = 345
		ally_2_x_offset = 0
		ally_2_y_offset = 445
		ally_3_x_offset = 200
		ally_3_y_offset = 345
		ally_health_display_type = "value"
		ally_scale = 1
		ally_toughness_display_type = "value"
		ammo_scale = 1
		ammo_x_offset = 182
		ammo_y_offset = 175
		coherency_color_static_color = "ui_terminal"
		coherency_colors = "player_color"
		coherency_scale = 1
		coherency_type = "archetype"
		coherency_x_offset = 0
		coherency_y_offset = 250
		custom_threshold_ability_critical = false
		custom_threshold_ability_critical_color = "ui_terminal"
		custom_threshold_ability_full = false
		custom_threshold_ability_full_color = "ui_terminal"
		custom_threshold_ability_high = false
		custom_threshold_ability_high_color = "ui_terminal"
		custom_threshold_ability_low = false
		custom_threshold_ability_low_color = "ui_terminal"
		custom_threshold_ammo_critical = false
		custom_threshold_ammo_critical_color = "ui_terminal"
		custom_threshold_ammo_full = false
		custom_threshold_ammo_full_color = "ui_terminal"
		custom_threshold_ammo_high = false
		custom_threshold_ammo_high_color = "ui_terminal"
		custom_threshold_ammo_low = false
		custom_threshold_ammo_low_color = "ui_terminal"
		custom_threshold_grenade_critical = false
		custom_threshold_grenade_critical_color = "ui_terminal"
		custom_threshold_grenade_full = false
		custom_threshold_grenade_full_color = "ui_terminal"
		custom_threshold_grenade_high = false
		custom_threshold_grenade_high_color = "ui_terminal"
		custom_threshold_grenade_low = false
		custom_threshold_grenade_low_color = "ui_terminal"
		custom_threshold_health_critical = false
		custom_threshold_health_critical_color = "ui_terminal"
		custom_threshold_health_full = false
		custom_threshold_health_full_color = "ui_terminal"
		custom_threshold_health_high = false
		custom_threshold_health_high_color = "ui_terminal"
		custom_threshold_health_low = false
		custom_threshold_health_low_color = "ui_terminal"
		custom_threshold_peril_critical = false
		custom_threshold_peril_critical_color = "ui_terminal"
		custom_threshold_peril_full = false
		custom_threshold_peril_full_color = "ui_terminal"
		custom_threshold_peril_high = false
		custom_threshold_peril_high_color = "ui_terminal"
		custom_threshold_peril_low = false
		custom_threshold_peril_low_color = "ui_terminal"
		custom_threshold_reload_critical = false
		custom_threshold_reload_critical_color = "ui_terminal"
		custom_threshold_reload_full = false
		custom_threshold_reload_full_color = "ui_terminal"
		custom_threshold_reload_high = false
		custom_threshold_reload_high_color = "ui_terminal"
		custom_threshold_reload_low = false
		custom_threshold_reload_low_color = "ui_terminal"
		custom_threshold_toughness_critical = false
		custom_threshold_toughness_critical_color = "ui_terminal"
		custom_threshold_toughness_full = false
		custom_threshold_toughness_full_color = "ui_terminal"
		custom_threshold_toughness_high = false
		custom_threshold_toughness_high_color = "ui_terminal"
		custom_threshold_toughness_low = false
		custom_threshold_toughness_low_color = "ui_terminal"
		customize_permanent_health_color = false
		display_ability_cooldown = false
		display_ally_indicator = false
		display_ammo_indicator = true
		display_grenade_icon = true
		display_grenade_indicator = true
		display_health_gauge = false
		display_kinetic_flayer_indicator = true
		display_peril_icon = false
		display_peril_indicator = false
		display_permanent_health_text = false
		display_pocketable_indicator = true
		display_reload_indicator = true
		display_stimm_indicator = true
		display_toughness_gauge = true
		display_warp_charge_indicator = false
		display_wounds_count = false
		enable_shadows = true
		enable_shadows_ability = "global"
		enable_shadows_ammo = "global"
		enable_shadows_coherency = "global"
		enable_shadows_grenade = "global"
		enable_shadows_health = "global"
		enable_shadows_kinetic_flayer = "global"
		enable_shadows_peril = "global"
		enable_shadows_pocketable = "global"
		enable_shadows_reload = "global"
		enable_shadows_stimm = "global"
		enable_shadows_toughness = "global"
		enable_shadows_warp_charge = "global"
		global_scale = 1
		global_x_offset = 0
		global_y_offset = -177
		grenade_scale = 1
		grenade_x_offset = 256
		grenade_y_offset = -23
		health_always_show = true
		health_display_type = "value"
		health_gauge_x_offset = -30
		health_gauge_y_offset = 0
		health_hide_at_full = false
		health_scale = 1
		health_stay_time = 1.5
		health_x_offset = -100
		health_y_offset = 170
		hide_coherency_buff_bar = false
		hide_kinetic_flayer_buff = false
		hide_sprint_buff = false
		hide_warp_charges_buff = false
		kinetic_flayer_scale = 1
		kinetic_flayer_x_offset = 0
		kinetic_flayer_y_offset = 0
		mirror_health_gauge = false
		mirror_toughness_gauge = true
		only_during_reload = true
		peril_scale = 1
		peril_x_offset = 0
		peril_y_offset = 45
		permanent_health_color = "ui_terminal"
		permanent_health_position = "top"
		pocketable_scale = 1
		pocketable_x_offset = 304
		pocketable_y_offset = 220
		reload_scale = 1
		reload_x_offset = 0
		reload_y_offset = 60
		show_ammo_icon = true
		stimm_scale = 1
		stimm_x_offset = 0
		stimm_y_offset = 240
		toughness_always_show = true
		toughness_display_type = "value"
		toughness_gauge_x_offset = 30
		toughness_gauge_y_offset = 0
		toughness_hide_at_full = false
		toughness_scale = 1
		toughness_stay_time = 1.5
		toughness_x_offset = 100
		toughness_y_offset = 170
		warp_charge_scale = 1
		warp_charge_x_offset = 0
		warp_charge_y_offset = 0
	}
	crosshair_remap = {
		autogun_braced_class_primary = "assault"
		autogun_braced_class_secondary = "spray_n_pray"
		autogun_headhunter_class_primary = "dot"
		autogun_headhunter_class_secondary = "charge_up_ads_chevron"
		autogun_infantry_class_primary = "assault"
		autogun_infantry_class_secondary = "ironsight_chevron"
		autopistol_class_primary = "assault"
		autopistol_class_secondary = "assault"
		boltgun_class_primary = "spray_n_pray"
		boltgun_class_secondary = "ironsight_chevron"
		flamer_class_primary = "spray_n_pray"
		flamer_class_secondary = "spray_n_pray"
		force_staff_purgatus_class_primary = "spray_n_pray"
		force_staff_purgatus_class_secondary = "charge_up"
		force_staff_surge_class_primary = "assault"
		force_staff_surge_class_secondary = "charge_up"
		force_staff_trauma_class_primary = "assault"
		force_staff_trauma_class_secondary = "charge_up"
		force_staff_voidstrike_class_primary = "assault"
		force_staff_voidstrike_class_secondary = "charge_up"
		grenadier_gauntlet_class_primary = "dot"
		grenadier_gauntlet_class_secondary = "projectile_drop"
		heavy_stubber_class_primary = "spray_n_pray"
		heavy_stubber_class_secondary = "spray_n_pray"
		kickback_class_primary = "shotgun"
		kickback_class_secondary = "shotgun"
		lasgun_helbore_class_primary = "bfg"
		lasgun_helbore_class_secondary = "charge_up"
		lasgun_infantry_class_primary = "cross"
		lasgun_infantry_class_secondary = "ironsight"
		lasgun_recon_class_primary = "dot"
		lasgun_recon_class_secondary = "ironsight_chevron"
		laspistol_class_primary = "assault"
		laspistol_class_secondary = "ironsight_chevron"
		melee_class = "spray_n_pray"
		none_class = "dot"
		plasma_gun_class_primary = "charge_up"
		plasma_gun_class_secondary = "charge_up"
		psyker_bb_class = "charge_up"
		psyker_chain_lightning_class_primary = "dot"
		psyker_chain_lightning_class_secondary = "charge_up"
		psyker_smite_class = "charge_up"
		psyker_throwing_knives_class = "dot"
		revolver_class_primary = "bfg"
		revolver_class_secondary = "ironsight_chevron"
		revolver_fanning_class_primary = "bfg"
		revolver_fanning_class_secondary = "bfg"
		ripper_gun_class_primary = "shotgun"
		ripper_gun_class_secondary = "spray_n_pray"
		rumbler_class_primary = "projectile_drop"
		rumbler_class_secondary = "none"
		shotgun_agripinaa_class_primary = "shotgun"
		shotgun_agripinaa_class_secondary = "ironsight"
		shotgun_agripinaa_class_special = "shotgun_slug"
		shotgun_kantrael_class_primary = "shotgun"
		shotgun_kantrael_class_secondary = "ironsight"
		shotgun_kantrael_class_special = "shotgun"
		shotgun_lawbringer_class_primary = "shotgun"
		shotgun_lawbringer_class_secondary = "ironsight"
		shotgun_lawbringer_class_special = "shotgun_wide"
	}
	custom_hud = {
		display_grid = true
		grid_cols = 3
		grid_rows = 3
		opacity = 1
		reset_hud = 0
		saved_node_settings = [
		]
		snap_to_grid = false
		toggle_hud_customization_key = [
			"f3"
		]
		toggle_hud_hidden_key = [
		]
	}
	hub_hotkey_menus = {
		close_menu_with_hotkey = true
		enable_in_pykhanium = true
		open_barber_view_key = [
			"numpad 1"
		]
		open_commissary_view_key = [
		]
		open_contracts_view_key = [
			"numpad 5"
		]
		open_crafting_view_key = [
			"numpad 3"
		]
		open_credits_vendor_view_key = [
			"numpad 4"
		]
		open_inbox_view_key = [
			"numpad 7"
		]
		open_inventory_view_key = [
			"numpad +"
		]
		open_mission_board_view_key = [
			"numpad 9"
		]
		open_premium_store_view_key = [
			"delete"
		]
		open_social_view_key = [
			"numpad enter"
		]
		open_training_grounds_view_key = [
			"numpad 2"
		]
	}
	ovenproof_scoreboard_plugin = {
		bottom_padding = false
		defense_tier_0 = true
		exploration_tier_0 = true
		fun_stuff_01 = false
		offense_rates = false
		offense_tier_0 = true
		offense_tier_1 = true
		offense_tier_2 = true
		offense_tier_3 = true
	}
	psych_ward = {
		selected_difficulty = 5
	}
	reroll_until_rarity = {
		rur_cancel_keybind = [
			"f8"
		]
		rur_desired_rarity = 4
		rur_enable_selected_perk = true
		rur_hush_hadron = true
		rur_max_attempts = 3000
		rur_selected_perk = "loc_trait_gadget_dr_vs_snipers_desc"
	}
	reveal_blessings = {
		enable_debug_mode = false
	}
	scoreboard = {
		ammo_health_pickup = true
		dev_mode = false
		generate_scores = 3
		message_ammo = true
		message_ammo_health_pickup = true
		message_ammo_placed = true
		message_decoded = true
		message_default = true
		message_forge_material = true
		message_health_placed = true
		message_health_station = true
		message_revived_rescued = true
		open_scoreboard = [
			"f6"
		]
		open_scoreboard_history = [
			"f5"
		]
		plugin_ammo = 2
		plugin_attacks_blocked = false
		plugin_boss_damage_dealt = false
		plugin_boss_threats = false
		plugin_carrying = false
		plugin_coherency_efficiency = false
		plugin_damage_dealt = 3
		plugin_damage_taken_heal_station_used = false
		plugin_disabler_threats = false
		plugin_enemies_staggerd = false
		plugin_forge_material = false
		plugin_health_ammo_placed = false
		plugin_lesser_enemies = false
		plugin_machinery_gadget_operated = false
		plugin_melee_ranged_threats = false
		plugin_revived_rescued = false
		plugin_special_hits = false
		plugin_special_threats = false
		save_all_scoreboards = true
		scoreboard_history_entries = [
			"1703573496.lua"
			"1703575437.lua"
			"1703658891.lua"
			"1703661064.lua"
			"1703686132.lua"
			"1703761258.lua"
			"1703761724.lua"
			"1703762241.lua"
			"1703762836.lua"
			"1703763398.lua"
			"1703763887.lua"
			"1703766002.lua"
		]
		scoreboard_panel_height = 1000
		scripture_grimoire_pickup = true
		tactical_overview = true
		worst_values = 1
		zero_values = 1
	}
	show_cjk_glyphs = {
		q_ja = 0.6
		q_ko = 0.5
		q_zh_hans = 1
		q_zh_hant = 0.7
	}
	sorted_mission_grid = {
		smg_auto_refresh = true
		smg_refresh_board = [
		]
		smg_sort_order = "asc"
	}
	stuff_searcher = {
		debug_mode = false
		escape_defocuses = true
	}
	true_level = {
		display_style = "separate"
		display_style_end_view = "use_global"
		display_style_inspect_player = "use_global"
		display_style_inventory = "use_global"
		display_style_lobby = "use_global"
		display_style_main_menu = "use_global"
		display_style_nameplate = "use_global"
		display_style_player_panel = "use_global"
		display_style_social_menu = "use_global"
		enable_debug_mode = false
		enable_end_view = true
		enable_inspect_player = true
		enable_inventory = true
		enable_level_up_notif = true
		enable_lobby = true
		enable_main_menu = true
		enable_nameplate = true
		enable_player_panel = true
		enable_prestige_level = true
		enable_prestige_level_end_view = "use_global"
		enable_prestige_level_inspect_player = "use_global"
		enable_prestige_level_inventory = "use_global"
		enable_prestige_level_lobby = "use_global"
		enable_prestige_level_main_menu = "use_global"
		enable_prestige_level_nameplate = "use_global"
		enable_prestige_level_player_panel = "use_global"
		enable_prestige_level_social_menu = "use_global"
		enable_prestige_only = false
		enable_prestige_only_end_view = "use_global"
		enable_prestige_only_inspect_player = "use_global"
		enable_prestige_only_inventory = "use_global"
		enable_prestige_only_lobby = "use_global"
		enable_prestige_only_main_menu = "use_global"
		enable_prestige_only_nameplate = "use_global"
		enable_prestige_only_player_panel = "use_global"
		enable_prestige_only_social_menu = "use_global"
		enable_social_menu = true
		prestige_level_color = "gold"
		prestige_level_color_end_view = "use_global"
		prestige_level_color_inspect_player = "use_global"
		prestige_level_color_inventory = "use_global"
		prestige_level_color_lobby = "use_global"
		prestige_level_color_main_menu = "use_global"
		prestige_level_color_nameplate = "use_global"
		prestige_level_color_player_panel = "use_global"
		prestige_level_color_social_menu = "use_global"
	}
	weapon_customization = {
		"0ba9f726-cbf6-476c-9f40-8189d49777d1_blade" = "power_sword_blade_04"
		"0ba9f726-cbf6-476c-9f40-8189d49777d1_grip" = "power_sword_grip_06"
		"0ba9f726-cbf6-476c-9f40-8189d49777d1_pommel" = "power_sword_pommel_05"
		"1246764b-96aa-417b-a1d5-9d2f3c055015_barrel" = "barrel_06"
		"1246764b-96aa-417b-a1d5-9d2f3c055015_emblem_right" = "emblem_right_01"
		"1246764b-96aa-417b-a1d5-9d2f3c055015_grip" = "grip_09"
		"1246764b-96aa-417b-a1d5-9d2f3c055015_muzzle" = "muzzle_09"
		"1246764b-96aa-417b-a1d5-9d2f3c055015_receiver" = "receiver_04"
		"1246764b-96aa-417b-a1d5-9d2f3c055015_sight" = "reflex_sight_02"
		"1246764b-96aa-417b-a1d5-9d2f3c055015_stock" = "stock_01"
		"14950bc3-17dd-4b6e-b69a-7f64e98b35d8_blade" = "power_sword_blade_04"
		"14950bc3-17dd-4b6e-b69a-7f64e98b35d8_grip" = "power_sword_grip_05"
		"14950bc3-17dd-4b6e-b69a-7f64e98b35d8_pommel" = "power_sword_pommel_05"
		"14950bc3-17dd-4b6e-b69a-7f64e98b35d8_trinket_hook" = "trinket_hook_04_steel"
		"1b015301-3b94-424c-b337-6397f851c94a_blade" = "power_sword_blade_04"
		"1b015301-3b94-424c-b337-6397f851c94a_grip" = "power_sword_grip_06"
		"1b015301-3b94-424c-b337-6397f851c94a_pommel" = "power_sword_pommel_05"
		"28365b36-a5c5-4037-a99b-4f30a0d6ea0f_body" = "chain_sword_body_03"
		"28365b36-a5c5-4037-a99b-4f30a0d6ea0f_emblem_left" = "emblem_left_01"
		"28365b36-a5c5-4037-a99b-4f30a0d6ea0f_grip" = "chain_sword_grip_03"
		"2f03d996-74fa-4304-b8e0-93db72106a20_body" = "combat_sword_blade_06"
		"2f03d996-74fa-4304-b8e0-93db72106a20_grip" = "combat_sword_grip_02"
		"37ba8307-2aff-4458-a103-5bf336ba3384_blade" = "power_sword_blade_04"
		"37ba8307-2aff-4458-a103-5bf336ba3384_grip" = "power_sword_grip_05"
		"37ba8307-2aff-4458-a103-5bf336ba3384_pommel" = "power_sword_pommel_05"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_emblem_left" = "emblem_left_01"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_grip" = "grip_05"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_magazine" = "bolter_magazine_01"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_rail" = "rail_01"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_receiver" = "receiver_03"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_sight" = "reflex_sight_01"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_trinket_hook" = "trinket_hook_05_carbon"
		"3dd4b7f2-9b80-4944-8ccc-6c6bf60be11f_underbarrel" = "underbarrel_03"
		"3f175b71-b23e-47fd-b911-3f85bfb50231_barrel" = "barrel_03"
		"3f175b71-b23e-47fd-b911-3f85bfb50231_grip" = "grip_03"
		"3f175b71-b23e-47fd-b911-3f85bfb50231_stock_2" = "no_stock"
		"3f175b71-b23e-47fd-b911-3f85bfb50231_trinket_hook" = "trinket_hook_01"
		"4be13907-c68a-43e8-8dac-617fdc0b5640_barrel" = "barrel_06"
		"4be13907-c68a-43e8-8dac-617fdc0b5640_emblem_right" = "emblem_right_01"
		"4be13907-c68a-43e8-8dac-617fdc0b5640_grip" = "grip_01"
		"4be13907-c68a-43e8-8dac-617fdc0b5640_muzzle" = "muzzle_03"
		"4be13907-c68a-43e8-8dac-617fdc0b5640_receiver" = "receiver_04"
		"4be13907-c68a-43e8-8dac-617fdc0b5640_sight" = "reflex_sight_02"
		"4be13907-c68a-43e8-8dac-617fdc0b5640_stock" = "stock_01"
		"4f99e519-2840-4f27-bd65-11db86333697_rail" = "rail_01"
		"4f99e519-2840-4f27-bd65-11db86333697_sight" = "reflex_sight_01"
		"566c72ec-3df7-4623-a070-1cfad85a8746_body" = "body_04"
		"566c72ec-3df7-4623-a070-1cfad85a8746_shaft_lower" = "shaft_lower_04"
		"566c72ec-3df7-4623-a070-1cfad85a8746_shaft_upper" = "shaft_upper_02"
		"6309fa8d-37c2-4030-82ab-15f79ba65332_grip" = "force_sword_grip_05"
		"6309fa8d-37c2-4030-82ab-15f79ba65332_hilt" = "force_sword_hilt_05"
		"6309fa8d-37c2-4030-82ab-15f79ba65332_pommel" = "force_sword_pommel_02"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_barrel" = "barrel_06"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_emblem_left" = "emblem_left_03"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_grip" = "grip_05"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_muzzle" = "muzzle_04"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_rail" = "rail_02"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_receiver" = "laspistol_receiver_04"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_sight" = "reflex_sight_01"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_stock" = "lasgun_pistol_stock_02"
		"7e1d2578-b5a6-43a6-9121-be963166c9fb_trinket_hook" = "trinket_hook_empty"
		"a7387b75-5264-4200-89c6-c08d575ea787_body" = "chain_sword_body_03"
		"a7387b75-5264-4200-89c6-c08d575ea787_emblem_left" = "emblem_left_01"
		"a7387b75-5264-4200-89c6-c08d575ea787_grip" = "chain_sword_grip_03"
		"aa2abe46-7ab9-44fb-a5b1-25fe45f189b5_grip" = "force_sword_grip_05"
		"aa2abe46-7ab9-44fb-a5b1-25fe45f189b5_hilt" = "force_sword_hilt_05"
		"aa2abe46-7ab9-44fb-a5b1-25fe45f189b5_pommel" = "force_sword_pommel_02"
		"b23e37f3-8566-4d44-b661-f48f847efd8b_barrel" = "barrel_03"
		"b59ad986-742f-4330-86ff-3be2a00002a3_body" = "chain_sword_body_03"
		"b59ad986-742f-4330-86ff-3be2a00002a3_emblem_left" = "emblem_left_01"
		"b59ad986-742f-4330-86ff-3be2a00002a3_grip" = "chain_sword_grip_03"
		"b66cec58-1635-4536-9202-903f75d88464_body" = "body_04"
		"b66cec58-1635-4536-9202-903f75d88464_shaft_lower" = "shaft_lower_04"
		"b66cec58-1635-4536-9202-903f75d88464_shaft_upper" = "shaft_upper_02"
		clear_chat = [
		]
		"d40765ab-66e0-48df-a1de-43cc742c3d33_blade" = "power_sword_blade_04"
		"d40765ab-66e0-48df-a1de-43cc742c3d33_grip" = "power_sword_grip_06"
		"d40765ab-66e0-48df-a1de-43cc742c3d33_pommel" = "power_sword_pommel_05"
		"d5c796df-4b10-4c07-958d-f0ba58b5f939_barrel" = "barrel_13"
		"d5c796df-4b10-4c07-958d-f0ba58b5f939_bayonet" = "autogun_bayonet_02"
		"d5c796df-4b10-4c07-958d-f0ba58b5f939_rail" = "rail_01"
		"d5c796df-4b10-4c07-958d-f0ba58b5f939_receiver" = "receiver_01"
		"d5c796df-4b10-4c07-958d-f0ba58b5f939_sight" = "reflex_sight_01"
		dump_perf = [
		]
		"ffcd31ce-0ae0-4e9e-ab27-d75ffd9aa305_rail" = "rail_01"
		"ffcd31ce-0ae0-4e9e-ab27-d75ffd9aa305_sight" = "reflex_sight_02"
		mod_option_battery_show = false
		mod_option_battery_show_threshold = 1
		mod_option_camera_zoom = false
		mod_option_carousel = true
		mod_option_deactivate_crosshair = false
		mod_option_deactivate_crosshair_aiming = false
		mod_option_deactivate_crosshair_laser = true
		mod_option_deactivate_laser_aiming = false
		mod_option_debug = false
		mod_option_flashlight_flicker = true
		mod_option_flashlight_flicker_start = true
		mod_option_flashlight_shadows = true
		mod_option_laser_pointer_count = 10
		mod_option_laser_pointer_count_others = 1
		mod_option_laser_pointer_dot_size = 1
		mod_option_laser_pointer_hit_color = "red"
		mod_option_laser_pointer_hit_critical_color = "yellow"
		mod_option_laser_pointer_hit_indicator = true
		mod_option_laser_pointer_hit_indicator_brightness = 1
		mod_option_laser_pointer_hit_indicator_size = 1
		mod_option_laser_pointer_hit_weakspot_color = "blue"
		mod_option_laser_pointer_kill_color = "gold"
		mod_option_laser_pointer_weapon_dot = true
		mod_option_laser_pointer_wild = false
		mod_option_misc_attachment_names = true
		mod_option_misc_cover_on_crouch = false
		mod_option_misc_sway = true
		mod_option_randomization_bayonet = 25
		mod_option_randomization_flashlight = 25
		mod_option_randomization_laser_pointer = false
		mod_option_randomization_players = false
		mod_option_randomization_stock = 25
		mod_option_randomization_store = false
		mod_option_scopes_particle = true
		mod_option_scopes_recoil = 0.1
		mod_option_scopes_reticle_size = 1
		mod_option_scopes_sound = true
		mod_option_scopes_sway = 0.1
		mod_option_visible_equipment = true
		mod_option_visible_equipment_own_sounds_fp = false
		mod_option_visible_equipment_sounds = "others"
		mod_option_weapon_build_animation = false
		mod_option_weapon_build_animation_speed = 1
		mod_option_weapon_build_animation_wobble = true
		reposition_x_neg = [
		]
		reposition_x_pos = [
		]
		reposition_y_neg = [
		]
		reposition_y_pos = [
		]
		reposition_z_neg = [
		]
		reposition_z_pos = [
		]
		rerotate_x_neg = [
		]
		rerotate_x_pos = [
		]
		rerotate_y_neg = [
		]
		rerotate_y_pos = [
		]
		rerotate_z_neg = [
		]
		rerotate_z_pos = [
		]
		test_index = [
		]
	}
}
network_settings = {
	try_nat64 = true
}
performance_settings = {
	decal_lifetime = 10
	max_blood_decals = 15
	max_impact_decals = 15
	max_ragdolls = 3
}
render_settings = {
	ao_enabled = true
	baked_ddgi = true
	bloom_enabled = false
	cacao_downsampled = false
	cacao_enabled = true
	cacao_quality = 2
	decals_enabled = false
	display_noise_enabled = true
	dlss_enabled = true
	dlss_g_enabled = false
	dlss_rr_enabled = false
	dof_enabled = false
	dof_high_quality = false
	dxr = false
	fsr2_enabled = false
	fsr_enabled = false
	fsr_quality = 0
	fxaa_enabled = false
	gamma = 2.2
	gtao_denoiser = 1
	gtao_enabled = false
	gtao_quality = 2
	hdr_rgb_format = "R11G11B10F"
	jitter_enabled = true
	lens_flares_enabled = false
	lens_quality_color_fringe_enabled = false
	lens_quality_distortion_enabled = false
	lens_quality_enabled = false
	light_shafts_enabled = false
	local_lights_max_dynamic_shadow_distance = 50
	local_lights_max_non_shadow_casting_distance = 0
	local_lights_max_static_shadow_distance = 100
	local_lights_shadow_atlas_size = [
		512
		512
	]
	local_lights_shadow_map_filter_quality = "low"
	local_lights_shadows_enabled = true
	lod_object_multiplier = 0.5
	lod_scatter_density = 0.25
	motion_blur_enabled = false
	nv_framerate_cap = 120
	nv_low_latency_boost = false
	nv_low_latency_markers = true
	nv_low_latency_mode = false
	outline_enabled = true
	particles_capacity_multiplier = 1
	particles_simulation_lod = 0
	rough_transparency_enabled = false
	rt_checkerboard_reflections = false
	rt_light_quality = "high"
	rt_mixed_reflections = false
	rt_particle_reflections_enabled = false
	rt_reflections_enabled = false
	rt_shadow_ray_multiplier = 2
	rt_transparent_reflections_enabled = false
	rtxgi_enabled = false
	rtxgi_scale = 0.5
	sharpen_enabled = true
	skin_material_enabled = false
	ssr_enabled = false
	ssr_high_quality = false
	static_sun_shadow_map_size = [
		2048
		2048
	]
	static_sun_shadows = true
	sun_flare_enabled = false
	sun_shadow_map_filter_quality = "low"
	sun_shadow_map_size = [
		4
		4
	]
	sun_shadows = false
	taa_enabled = false
	ui_bloom_enabled = false
	upscaling_enabled = true
	upscaling_mode = "dlss"
	upscaling_quality = "balanced"
	vertical_fov = 85
	volumetric_data_size = [
		80
		64
		96
	]
	volumetric_extrapolation_high_quality = false
	volumetric_extrapolation_volumetric_shadows = false
	volumetric_lighting_local_lights = false
	volumetric_reprojection_amount = 0.875
	volumetric_volumes_enabled = true
	world_interaction_size = [
		512
		512
	]
	world_space_motion_vectors = false
	xess_enabled = false
}
screen_mode = "window"
screen_resolution = [
	1024
	768
]
sound = {
}
sound_settings = {
	option_master_slider = 35
	options_music_slider = 20
	options_sfx_slider = 70
	speaker_settings = 3
}
texture_settings = {
	"content/texture_categories/character_bc" = 2
	"content/texture_categories/character_bca" = 2
	"content/texture_categories/character_bcm" = 2
	"content/texture_categories/character_hm" = 2
	"content/texture_categories/character_mask" = 2
	"content/texture_categories/character_mask2" = 2
	"content/texture_categories/character_nm" = 2
	"content/texture_categories/character_orm" = 2
	"content/texture_categories/environment_bc" = 2
	"content/texture_categories/environment_bca" = 2
	"content/texture_categories/environment_hm" = 2
	"content/texture_categories/environment_nm" = 2
	"content/texture_categories/environment_orm" = 2
	"content/texture_categories/weapon_bc" = 2
	"content/texture_categories/weapon_bca" = 2
	"content/texture_categories/weapon_hm" = 2
	"content/texture_categories/weapon_mask" = 2
	"content/texture_categories/weapon_nm" = 2
	"content/texture_categories/weapon_orm" = 2
}
threads = {
}
version = 2
vsync = false
